<section class="mt-10 bg-white dark:bg-black p-2 -m-5">
  <div class="grid grid-cols-3 gap-3">
    <div *ngFor="let photo of postDetailes">
      <div
        class="aspect-square overflow-hidden hover:fade"
        (click)="clickImg(photo.post.picture, photo.post.content)"
      >
        <img
          [src]="photo.post.picture"
          class="aspect-square hover:opacity-80"
        />
      </div>
    </div>
  </div>
  <div
    *ngIf="picShow"
    class="h-3/4 w-1/4 rounded shadow-lg mx-auto my-auto fixed top-0 bottom-0 left-0 right-0 bg-black"
  >
    <div class="p-2" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#b9a7a7"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-right"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="mx-auto my-auto h-3/4">
      <img
        [src]="clickedPic"
        alt=""
        class="overflow w-full h-full px-5 py-2 object-cover mx-auto"
      />
    </div>

    <div class="pb-2">
      <p class="text-white mx-auto px-5">{{ clickcontent }}</p>
    </div>
  </div>
</section>
