<section class="mt-10 bg-gray-100/50 p-1 -m-5">
  <h1 class="text-3xl font-semibold px-3">TimeLine</h1>
  <div *ngFor="let photo of postDetailes" class="">
    <div class="bg-white m-5 rounded p-5 mb-5 shadow-2xl shadow-gray-950">
      <div class="flex items-center justify-between">
        <div class="flex">
          <div class="w-11 h-11 rounded-full overflow-hidden mr-3">
            <img
              [src]="userDetailes.picture"
              alt=""
              class="w-full h-full object-cover"
            />
          </div>

          <div>
            <p class="text-lg font-medium">
              {{ userDetailes.first_name }} {{ userDetailes.last_name }}
            </p>
            <p class="text-xs text-gray-400">
              {{ photo.post.created_at | date }}
            </p>
          </div>
        </div>
        <div title="more">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#4a90e2"
            stroke-width="2"
            stroke-linecap="butt"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
          </svg>
        </div>
      </div>

      <div class="py-3 w-full h-full">
        <img [src]="photo.post.picture" alt="" class="mx-auto w-full h-full" />
      </div>
      <div>
        <p>
          {{ photo.post.content }}
        </p>
      </div>

      <div
        *ngIf="commentOpen.id == commentboxId && commentbox"
        [id]="photo.post.id"
        #commentOpen
        class="w-full m-2 h-96 overflow-y-scroll bg-blue-500/20 rounded-xl"
      >
        <div
          *ngFor="let com of photo.comments; let i = index"
          class="grid grid-cols-1"
        >
          <div class="bg-gray-100/90 m-4 px-3 py-2 rounded-xl">
            <div class="flex items-center">
              <div class="w-11 h-11 rounded-full overflow-hidden mr-3">
                <img
                  [src]="photo.comments[i].picture"
                  alt=""
                  class="w-full h-full object-cover"
                />
              </div>
              <div>
                <p class="text-sm font-medium">
                  {{ photo.comments[i].first_name }}
                  {{ photo.comments[i].last_name }}
                </p>
                <div class="text-xs font-normal text-gray-500">
                  {{ photo.comments[i].created_at }}
                </div>
              </div>
            </div>

            <p class="text-base font-normal px-2 pt-1">
              {{ photo.post.comments[i].content }}
            </p>
          </div>
        </div>

        <div *ngIf="photo.comments == 0" class="text-center mt-28">
          <h1 class="text-2xl text-gray-900/50 font-bold">
            No comments to display
          </h1>
          <h3 class="text-black/50">You can be the first one</h3>
        </div>
      </div>
      <div class="mt-5 flex items-center">
        <button class="flex items-center mr-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#4a90e2"
            stroke-width="2"
            stroke-linecap="butt"
            stroke-linejoin="round"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg>
          <span class="ml-1">Like</span>
        </button>
        <button
          [id]="photo.post.id"
          #commentOpen
          class="flex items-center mr-5"
          (click)="commentActive(commentOpen.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#4a90e2"
            stroke-width="2"
            stroke-linecap="butt"
            stroke-linejoin="round"
          >
            <path
              d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
            ></path>
          </svg>
          <span>Comments</span>
        </button>

        <button class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#4a90e2"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="arcs"
          >
            <circle cx="18" cy="5" r="3"></circle>
            <circle cx="6" cy="12" r="3"></circle>
            <circle cx="18" cy="19" r="3"></circle>
            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
          </svg>
          <span>Share</span>
        </button>
      </div>
      <div
        class="w-full h-auto bg-slate-100 rounded-lg mt-4 p-2 shadow-md shadow-black/50"
      >
        <div class="flex items-center">
          <div class="w-11 h-11 rounded-full overflow-hidden mr-3">
            <img [src]="profilePic" alt="" class="w-full h-full object-cover" />
          </div>

          <div class="w-full">
            <label
              for="hs-leading-button-add-on-with-icon-and-button"
              class="sr-only"
              >Label</label
            >
            <div class="flex items-center rounded-md shadow-sm w-full">
              <input
                type="text"
                [id]="photo.post.id"
                #comment
                placeholder="Comment your throught here"
                class="py-3 px-4 pr-11 block w-full border-2 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 border-gray-700 text-gray-600"
              />
              <div>
                <button
                  class="bg-gray-500 px-3 py-3 text-xs font-bold rounded text-black ml-2"
                  (click)="commentSend(+comment.id, comment.value)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M0 12l11 3.1 7-8.1-8.156 5.672-4.312-1.202 15.362-7.68-3.974 14.57-3.75-3.339-2.17 2.925v-.769l-2-.56v7.383l4.473-6.031 4.527 4.031 6-22z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
